 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
					<p>Alef Analytics is an independent consulting firm providing advanced risk consulting and model validation services.​</p>
					<p>Its founders have a combined experience of more than 20 years in an international context throughout the financial services industry, including top tier investment banks and leading financial software developing companies.​​</p>
                <div class="col-lg-4 col-lg-offset-2">
					<div class = "founder-name">
						Ahmed ZYATI &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href = "https://www.linkedin.com/in/azyati"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</div>
					<img src="img/profile/ahmed.jpg" class="img-responsive img-centered profile-image" alt="">
                </div>
                <div class="col-lg-4">
					<div class = "founder-name">
						Youness BOUISOUDEN &nbsp; &nbsp; <a href = "https://www.linkedin.com/in/ybouisouden"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</div>
					<img src="img/profile/youness.jpg" class="img-responsive img-centered profile-image" alt="">
                </div>
            </div>
        </div>
    </section>
