 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
					<p>Alef Analytics is an independent consulting firm providing advanced risk consulting and model validation services.​</p>
					<p>Its founders have a combined experience of more than 20 years in an international context throughout the financial services industry, including top tier investment banks and leading financial software developing companies.​​</p>
                <div class="col-lg-4 col-lg-offset-2">
					<div class = "founder-name">
						<a href = "https://www.linkedin.com/in/azyati">Ahmed ZYATI</a>
					</div>
					<img src="img/profile/ahmed.jpg" class="img-responsive img-centered profile-image" alt="">
                </div>
                <div class="col-lg-4">
					<div class = "founder-name">
						<a href = "https://www.linkedin.com/in/ybouisouden">Youness BOUISOUDEN</a>
					</div>
					<img src="img/profile/youness.jpg" class="img-responsive img-centered profile-image" alt="">
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div-->
            </div>
        </div>
    </section>
