<!-- Header -->

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <span class="skills">{{ site.skills }}</span>
		  <hr class="no-star" />
		  <span class="name"></br></span>
		  <span class='fas fa-tools fa-spin fa-3x' style="font-size:10em"></span>
		  <span class="under-construction">Under Construction</span>
		  <span class="name"></br></span>
        </div>
      </div>
    </div>
  </div>
</header>
